<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Person API</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Person API</h1>
    <a href="/person" class="btn">Manage Persons</a>
  </div>
</
