<!DOCTYPE html>
<html>
<head>
  <title>Persons</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Person List</h1>
    <ul>
      <% people.forEach(person => { %>
        <li><%= person.name %> - <%= person.email %></li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
