<h1>Add New Person</h1>
<form action="/person" method="POST">
    Name: <input type="text" name="name"><br>
    Age: <input type="number" name="age"><br>
    Gender: <input type="text" name="gender"><br>
    Mobile: <input type="text" name="mobile"><br>
    <button type="submit">Add</button>
</form>
